<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <!--Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300&display=swap" rel="stylesheet">
    <!--Icones fontAwesome-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <!--Icones google-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <!--Jquery-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <!--Script Menu mobile-->
    <script src="js/menu-mobile.js"></script>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!--Folha de estilos-->
    <link rel="stylesheet" href="css/main.css">
    <title>Bem Vindo</title>
</head>

<body>

    <!--Header-->
    <header class="header">
        <nav class="menu">

            <!--Menu Toggle-->
            <input id="menu-toggle" type="checkbox">
            <label for="menu-toggle">
                <span class="hamburger">

			    </span>
            </label>

            <div class="links1">
                <ul>
                    <li>
                        <a class="home-link" href="">Home</a>
                    </li>
                    <li>
                        <a href="">Serviços</a>
                    </li>
                </ul>
            </div>

            <div class="decora-logo">
                <a href="#">
                    <img class="decoraLogo" src="imgs/logo-menu.jpg" alt="logo-menu">

                </a>
            </div>

            <div class="links2">
                <ul>
                    <li>
                        <a href="">Quem somos</a>
                    </li>
                    <li>
                        <a href="">Contato</a>
                    </li>
                </ul>
            </div>

        </nav>

        <!--Menu mobile-->
        <nav class="mobile">
            <div class="btn">
                <i class="material-icons">close</i>
            </div>
            <div class="menu-wrapper">
                <ul>
                    <li>
                        <a href="">Home</a>
                    </li>
                    <li>
                        <a href="">Serviços</a>
                    </li>
                    <li>
                        <a href="">Quem somos</a>
                    </li>
                    <li>
                        <a href="">Contato</a>
                    </li>
                    <a href="#"><img class="logo-link" src="imgs/logo-menu.jpg" alt="logo-menu"></a>
                </ul>
            </div>
        </nav>

        <a href=""><img class="faleCn" src="imgs/fale-cncs.png" alt="fale-conosco"></a>

        <button class="fale-conosco"><i class="fab fa-whatsapp"></i>Fale Conosco</button>

    </header>

    <div class="texto-servico">
        <p class="p1">Conheça</p>
        <h1>Nossos Serviços</h1>
    </div>

    <section class="section section-services">
        <div class="container-section">
            <div class="col">
                <img src="imgs/icone.png" alt="icone-presente">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis nibh sem, congue in molestie ac, </p>
            </div>

            <div class="col second-col">
                <img src="imgs/icone2.png" alt="icone-presente">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis nibh sem, congue in molestie ac, </p>
            </div>

            <div class="col">
                <img src="imgs/icone.png" alt="icone-presente">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis nibh sem, congue in molestie ac, </p>
            </div>
            <div class="col">
                <img src="imgs/icone.png" alt="icone-presente">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis nibh sem, congue in molestie ac, </p>
            </div>
        </div>

        <button class="vms-cv">VAMOS CONVERSAR?</button>

    </section>

    <!--Quem somos-->
    <section class="quem-somos">
        <div class="col-left">
            <div class="texto">
                <p>Saiba</p>
                <h2>Quem somos</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
            </div>
            <div class="texto">
                <p>Saiba</p>
                <h2>Diferênciais</h2>
                <p><i class="far fa-check-circle"></i>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                <p><i class="far fa-check-circle"></i>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                <p><i class="far fa-check-circle"></i>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
        </div>
        <div class="col-right">
            <img src="imgs/img-quem-somos.png" alt="quem-somos">
        </div>
    </section>

    <!--Ultimos projetos-->
    <section class="projetos">
        <h3>Últimos projetos</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            <br> Quisque vestibulum, risus ac rutrum vehicula</p>
        <div class="img-projetos">
            <img src="imgs/ultimos-projetos.png" alt="ultimos-projetos">
        </div>
    </section>

    <section class="amgsparc">
        <div class="amigos-img">
            <p>Nossos</p>
            <h4>Amigos e parceiros</h4>
        </div>
    </section>

    <section class="form">
        <form action="">
            <h4>Ficou interessado?</h4>
            <p>Entre em contato agora mesmo !</p>

            <div class="inputs">

                <label for="name"></label>
                <input type="text" name="name" placeholder="*Seu Nome" id="name">

                <div class="email">
                    <label for="email"></label>
                    <input type="email" placeholder="*Email" name="email" id="email">

                    <label for="num"></label>
                    <input type="number" name="num" placeholder="*Telefone ou Celular" id="num">
                </div>

            </div>
        </form>
    </section>

    <footer class="footer">
        <img src="imgs/footer.png" alt="footer-img">
    </footer>

</body>

</html>